@import url(./reset.css);

:root {
  --app-yellow-hover: #ffff1c;
  --app-dark-bg: #1a1d28;
  --app-medium-gray: #575757;
  --app-orange-text: #ff8e1c;
  --app-light-gray: #f9f9f9;
}

main {
  background-color: var(--app-light-gray);
  height: 100vh;
  display: grid;
  place-content: center;
}

h2 {
  color: var(--app-medium-gray);
  font-size: 32px;
  font-weight: 600;
  text-align: center;
}

.content-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}

 #shapeSelect, #colorSelect {
  width: 215px;
  height: 35px;
  background-color: var(--app-medium-gray);
  color: var(--app-light-gray);
  font-weight: 600;
  font-size: 15px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px rgb(0 0 0 / 0.3);
  cursor: pointer;
}

#createBtn {
  width: 100px;
  height: 37px;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-align: center;
  color: var(--app-light-gray);
  background-color: var(--app-orange-text);
  box-shadow: 1px 1px 1px rgb(0 0 0 / 0.3);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.25s ease-in-out;
}

#createBtn:hover {
  background-color: var(--app-yellow-hover);
  color: var(--app-dark-bg);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: var(--app-medium-gray);
  height: 435px;
  width: 550px;
  padding: 10px;
  border-radius: 5px;  
  box-shadow: 1px 1px 1px rgb(0 0 0 / 0.3);
  transform: rotateX(3.142rad);
}


.circle {
  background-color: white;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  padding: 5px;
}

.square {
  background-color: white;
  border-radius: 15px;
  width: 100px;
  height: 100px;
}

#fullStorageMsg {
  visibility: hidden;
  color: red;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  height: 30px;
  
}

#infoMsg {
  color: var(--app-medium-gray);
  font-size: 16px;
  text-align: center;
  font-weight: 600;
  height: 30px;
}

/*----------------------------------------*/
/*Footer                                  */
/*----------------------------------------*/

footer {
  color: var(--app-medium-gray);
  font-size: 12px;
  font-weight: 800;
  position:fixed;
  bottom: 20px;
  right: 120px;
}